%link{:href => "/scripts/recline/vendor/leaflet/0.3.1/leaflet.css", :rel => "stylesheet"}
/[if lte IE 8]
  %link{:rel => "stylesheet", :href => "/scripts/recline/vendor/leaflet/0.3.1/leaflet.ie.css"}

%link{:href => "/scripts/recline/vendor/slickgrid/2.0.1/slick.grid.css", :rel => "stylesheet"}
%link{:href => "/scripts/recline/vendor/timeline/20120520/css/timeline.css", :rel => "stylesheet"}

/ Recline CSS components
%link{:href => "/scripts/recline/css/grid.css", :rel => "stylesheet"}
%link{:href => "/scripts/recline/css/slickgrid.css", :rel => "stylesheet"}
%link{:href => "/scripts/recline/css/graph.css", :rel => "stylesheet"}
%link{:href => "/scripts/recline/css/transform.css", :rel => "stylesheet"}
%link{:href => "/scripts/recline/css/map.css", :rel => "stylesheet"}
%link{:href => "/scripts/recline/css/multiview.css", :rel => "stylesheet"}

/ /Recline CSS components
/ 3rd party JS libraries
%script{:src => "/scripts/recline/vendor/jquery/1.7.1/jquery.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/underscore/1.1.6/underscore.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/backbone/0.5.1/backbone.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/mustache/0.5.0-dev/mustache.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/bootstrap/2.0.2/bootstrap.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/flotr2/flotr2.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/leaflet/0.3.1/leaflet.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.min.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/slickgrid/2.0.1/jquery.event.drag-2.0.min.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/slickgrid/2.0.1/slick.grid.min.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/moment/1.6.2/moment.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/vendor/timeline/20120520/js/timeline.js", :type => "text/javascript"}

/ model and backends
%script{:src => "/scripts/recline/src/model.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/backend.memory.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/backend.dataproxy.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/backend.gdocs.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/backend.elasticsearch.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/backend.csv.js", :type => "text/javascript"}
/ views
%script{:src => "/scripts/recline/src/view.grid.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/view.slickgrid.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/view.transform.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/data.transform.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/view.graph.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/view.map.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/view.timeline.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/widget.pager.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/widget.queryeditor.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/widget.filtereditor.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/widget.fields.js", :type => "text/javascript"}
%script{:src => "/scripts/recline/src/view.multiview.js", :type => "text/javascript"}
