.container
  %style{:type => 'text/css'}
    :plain
      .recline-slickgrid {
        height: 550px;
      }
      .recline-timeline .vmm-timeline {
        height: 550px;
      }
  %div{ class: "data-explorer-here" }
  %div{ style: "clear: both;"}
  %script{ type: "text/javascript", src: "/scripts/recline/app.js"}
